
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h2 id="title" class="text-center">Todos</h2>
      <div class="row">
        <div class='col-10 mx-auto'>
          <div id="todo-list-wrapper">
            <div id="input-wrapper">
              <span id="toggle-all"></span>
              <input id='task-input' class="form-control" placeholder='What needs to be done?' autocomplete="off">
            </div>
            <div id='todo-list'>
            </div>
            <div id="footer">
              <span><span id="active-tasks"></span> items left</span>
              <ul>
                <li class="filter-button" id="All">All</li>
                <li class="filter-button" id="Active">Active</li>
                <li class="filter-button" id="Completed">Completed</li>
              </ul>
              <span id="clear-completed">Clear completed</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>